*{
  margin : 4px;
  padding: 0;
}

.scroll::-webkit-scrollbar
{
  height: 0.3rem;
  background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb:horizontal {

  background-color: #555;
}

.scroll {

  display: grid;
  grid-template-rows:  1fr ;
  grid-template-columns: 1fr ;
  padding: 10px;
  top:0;
  left:0;
  right:0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;


  &__child{
    border: 1px solid blue;
    border-radius: 5px;
    min-height:4rem;
  }

}

