
.navbar-1row-t1 ul {
    list-style: none;
}

.navbar-1row-t1 .dl-menu {
    margin: 10px 0 0 0;
    position: absolute;
    width: 7%;
    opacity: 0;
    pointer-events: none;
}

.navbar-1row-t1 .dl-menu.dl-menuopen {
    opacity: 1;
    pointer-events: auto;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

.navbar-base .navbar-1row-t1 ul {
    background: #54585a;
}




/*slider*/
.slider {
    position: relative;
    height: 100%;
    width: 100%;
    background: #54585a;
    overflow: hidden;
}

.slider h1 {
    position: absolute;
    top: 70%;
    left: 80%;
}

.slider__slide {
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    -webkit-animation: slide 20s infinite linear;
}

.slider__slide img {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
}

.slider__slide h1 {
    position: absolute;
    top: 10%;
    left: 0;
    height: 50%;
    width: 100%;
}

.slider__slide h2 {
    position: absolute;
    top: 25%;
    left: 0%;
    height: 50%;
    width: 100%;
}

.slider__slide:nth-child(2) {
    -webkit-animation-delay: 5s;
}

.slider__slide:nth-child(3) {
    -webkit-animation-delay: 10s;
}

.slider__slide:nth-child(4) {
    -webkit-animation-delay: 15s;
}

.slider__slide1 {
    position: absolute;
    top: 25%;
    left: 10%;
    height: 50%;
    width: 30%;
}

.slider__slide1 img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-animation: zoomin 3s ease-in infinite;
}

@-webkit-keyframes slide {
    5% {
        transform: translateY(0);
        /* 1s 6s 11s 16s */ }
    25% {
        transform: translateY(0);
        /* 5s 10s 14s 19s */ }
    30% {
        transform: translateY(-100%);
        /* 6s 11s 16s 20s */ }
    100% {
        transform: translateY(-100%); } }

@-webkit-keyframes zoomin {
    0% {
        transform: scale(1); }
    50% {
        transform: scale(1.1); }
    100% {
        transform: scale(1); } }
