
.navbar-1row-t1{

    float: left;
}
.navbar-1row-t1 ul {

    list-style: none;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.navbar-1row-t1 li.dl-back > a {
    padding-left: 30px;
    background: rgba(0,0,0,0.1);
}
.navbar-1row-t1 li.dl-back:after,
.navbar-1row-t1 li > a:not(:only-child):after {
    position: absolute;
    top: 0;
    line-height: 50px;
    font-family: 'icomoon';
    speak: none;
    -webkit-font-smoothing: antialiased;
    content: "\e000";
}


.navbar-1row-t1 li > a:after {
    left: 10px;
    color: rgba(0,0,0,0.15);
    transform: rotate(180deg);
}

.navbar-1row-t1 .dl-menu {
    margin: 10px 0 0 0;
    position: absolute;
    width: 50%;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.navbar-1row-t1 .dl-menu.dl-menu-toggle {
    transition: all 0.3s ease;
}

.navbar-1row-t1 .dl-menu.dl-menuopen {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

/* Hide the inner submenus */
.navbar-1row-t1 li .dl-submenu {
    display: none;
}

.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
    display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
    display: block;
}

/* Animation classes for moving out and in */

.dl-menu.dl-animate-out-1 {
    -webkit-animation: MenuAnimOut1 0.1s;
    animation: MenuAnimOut1 0.0s;
}


@-webkit-keyframes MenuAnimOut1 {
    0% { }
    50% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        -webkit-transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    100% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}


@keyframes MenuAnimOut1 {
    0% { }
    50% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
        transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        -webkit-transform: translateZ(-372.5px) rotateY(15deg);
        transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    100% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

.dl-menu.dl-animate-in-1 {
    -webkit-animation: MenuAnimIn1 0.0s;
    animation: MenuAnimIn1 0.0s;
}


@-webkit-keyframes MenuAnimIn1 {

    100% {
        -webkit-transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}

@keyframes MenuAnimIn1 {

    100% {
        -webkit-transform: translateZ(0px) rotateY(0deg);
        transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}


body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

.navbar-base .navbar-1row-t1 ul {
    background: #d4dcd6;
}


/*slider*/
.slider {
    position: relative;
    height: 100%;
    width: 100%;
    background: #54585a;
    overflow: hidden;
}

.slider h1 {
    position: absolute;
    top: 70%;
    left: 80%;
}

.slider__slide {
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    -webkit-animation: slide 20s infinite linear;
}

.slider__slide img {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
}

.slider__slide h1 {
    position: absolute;
    top: 10%;
    left: 0;
    height: 50%;
    width: 100%;
}

.slider__slide h2 {
    position: absolute;
    top: 25%;
    left: 0%;
    height: 50%;
    width: 100%;
}

.slider__slide:nth-child(2) {
    -webkit-animation-delay: 5s;
}

.slider__slide:nth-child(3) {
    -webkit-animation-delay: 10s;
}

.slider__slide:nth-child(4) {
    -webkit-animation-delay: 15s;
}

.slider__slide1 {
    position: absolute;
    top: 25%;
    left: 10%;
    height: 50%;
    width: 30%;
}

.slider__slide1 img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-animation: zoomin 3s ease-in infinite;
}

@-webkit-keyframes slide {
    5% {
        transform: translateY(0);
        /* 1s 6s 11s 16s */ }
    25% {
        transform: translateY(0);
        /* 5s 10s 14s 19s */ }
    30% {
        transform: translateY(-100%);
        /* 6s 11s 16s 20s */ }
    100% {
        transform: translateY(-100%); } }

@-webkit-keyframes zoomin {
    0% {
        transform: scale(1); }
    50% {
        transform: scale(1.1); }
    100% {
        transform: scale(1); } }
