/* 
all px
0-600: phone
600-900: tab portrait
900-1200: tab landscape 
1200-1800: normal
1800 +: big desk 
*/
/*
$beeakpoint argument choices:
- phone 
- tab-port
- tab-land
- big-desktop

1em = 16px

ORDER: Base +typographu> general layout + rdid > page layout > component;

*/
@font-face {
  font-family: 'yekan';
  src: url(../webfonts/Yekan.eot), url(../webfonts/Yekan.woff), url(../webfonts/Yekan.ttf); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-1rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(1rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  color: #999;
  font-weight: 300; }

.container {
  display: grid;
  grid-template-rows: min-content 60vh auto min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-row-gap: 5px;
  grid-column-gap: 5px; }
  .container > * {
    padding: 1.2rem;
    font-size: 3rem;
    border-radius: 5px; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #777; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.section-slider {
  background-color: brown;
  grid-column: center-start / 7; }

.section-price {
  background-color: orange;
  grid-column: 7 / center-end; }

.section-news {
  background-color: grey;
  grid-column: center-start / center-end; }

.btn, .btn:link, .btn:visited, .btn-simple, .btn-simple:link, .btn-simple:visited, .btn-nohover, .btn-nohover:link, .btn-nohover:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: .6rem 2.1rem;
  display: inline-block;
  border-radius: 8rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.5s;
  animation-fill-mode: backwards; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--primary {
  background-color: #4169e1;
  color: #fff; }
  .btn--primary::after {
    background-color: #4169e1; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #4169e1;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #4169e1;
  padding: 3px;
  transition: all .5s;
  border-radius: 3px 3px 0 0; }

.btn-text:hover {
  background-color: #4169e1;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn-simple:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-nohover {
  text-transform: uppercase;
  text-decoration: none; }
  .btn-nohover:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background-color: #2998ff;
    color: #eee; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #4169e1;
      outline-offset: 2rem;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, #2998ff, #5643fa);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-5.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-5.jpg); }
  .card__heading {
    width: 80%;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 1rem; }
  .card__heading-span {
    padding: 1rem 3rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #aaa; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  color: inherit;
  border-radius: 2px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid transparent;
  display: block;
  width: 90%; }
  .form__input::-webkit-input-placeholder {
    color: #999; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #4169e1; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 48%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #4169e1;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4169e1;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  backface-visibility: hidden; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    backface-visibility: hidden; }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7rem;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(4px) brightness(80%); }

.news-card {
  display: grid;
  background-color: #f9f7f6;
  grid-template-columns: 1fr;
  grid-row-gap: 2.5rem; }
  .news-card__img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 /2; }
  .news-card__like {
    grid-row: 1 / 2;
    grid-column: 1 /2;
    fill: #4169e1;
    height: 3rem;
    width: 3rem;
    right: 0;
    justify-self: end;
    margin: 2rem;
    z-index: 1;
    font-size: 3rem;
    background-color: #4169e1; }
  .news-card__title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.5rem;
    background-color: #101d2c;
    color: #fff;
    font-weight: 400;
    width: 80%;
    justify-self: center;
    grid-row: 1 / 2;
    grid-column: 1 /2;
    z-index: 1;
    align-self: end;
    transform: translate(25%, 30%); }
  .news-card__box {
    font-size: 1.5rem;
    margin-left: 2rem; }
    .news-card__box-icon {
      color: #4169e1;
      font-size: 3rem; }
    .news-card__box-text {
      margin-top: .5rem; }
  .news-card__btn {
    padding: 1.5rem;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 0;
    font-weight: 600; }

.section-news {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }

.logo-bar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-column-gap: 2rem;
  justify-content: start;
  align-content: center;
  height: 100%; }
  .logo-bar__img {
    width: 40%;
    justify-self: start;
    align-self: center; }
  .logo-bar__search {
    width: 100%;
    display: grid;
    grid-template-columns: 10fr min-content;
    justify-self: center;
    align-self: center; }
    .logo-bar__search-input {
      justify-self: center;
      width: 100%;
      border-radius: 5px 0 0 5px;
      border: 3px solid #4169e1;
      margin-right: 0;
      padding: 0 10px;
      font-size: 1.6rem; }
    .logo-bar__search-icon {
      color: #fff;
      border: 3px solid #4169e1;
      background-color: #4169e1;
      padding: 5px 10px;
      border-radius: 0 5px 5px 0; }
  .logo-bar__login {
    justify-self: end;
    align-self: start;
    font-family: yekan; }

.navbar {
  background-color: #fff;
  border: 3px solid #4169e1;
  border-radius: 4px;
  align-self: end;
  display: grid;
  grid-template-columns: repeat(7, max-content);
  justify-content: space-between;
  justify-self: center;
  list-style: none;
  width: 100%;
  height: 100%; }
  .navbar__item {
    height: 100%;
    justify-self: start;
    align-self: center;
    font-family: yekan;
    font-size: 1.6rem;
    padding: 0px 10px; }
    .navbar__item:hover {
      background-color: #4169e1;
      color: white; }
      .navbar__item:hover a {
        color: white; }
    .navbar__item a {
      text-decoration: none;
      color: #000; }

.footer {
  background-color: blueviolet;
  grid-column: center-start / center-end;
  align-self: end; }

.header {
  grid-column: center-start / center-end;
  background-color: #eee;
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-content: start;
  grid-row-gap: 3px; }

.sidebar {
  background-color: red; }
