.title-1row{
    font-size: 1.6rem;
    color: $color-grey-light-2;

    color:$color-secondary;
    
    // background-color: #fff;
    // font-size: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 2rem;

    &__header{
        font-weight: 100;
        padding: 0 1rem;
        //  color:blue;
         border-bottom: 1px solid $color-tertiary;
         font-weight: 600;
    }

    &__empty-content{

        margin: 0 1rem 0 4rem;
        // padding: 0 1rem 0 4rem;
        // background-color: #fff;
        border-bottom: 1px solid $color-grey-light-2;
    }
    h2{
        align-self: end;
    }
    a{
        font-size: 1.5rem;
        align-self: end;
        font-weight: normal;
        margin: 0 1rem 0 3rem;
        border-bottom: 1px solid $color-grey-light-2;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.2s;
        &:hover{
            color: $color-primary;
        }
    }
}

