.adv-menu{
    background-color: $color-grey-light-1;    
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: block;

}

.adv-submit {

    display:grid;
    grid-row-gap: 1rem;
    
    &__header {
    background-color: $color-grey-light-1;    
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 3px 10px 0 rgba(0, 0, 0, 0.19);
    // grid-row: 1/2;

    }

    &__form{
        background-color: $color-grey-light-1;    
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 3px 10px 0 rgba(0, 0, 0, 0.19);
        // height: 50vh;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;

    }
}
.d-none{
display: none !important;
}
.d-block{
    display: block !important;
}
.d-grid {
    display:grid !important;
}