
%btn-placeholder {
    text-transform: uppercase;
    text-decoration: none;
    padding: .6rem 2.1rem ;
    display: inline-block;
    border-radius: 8rem;
    transition: all 0.2s;
    position: relative;
    
    //change for the <button> element
    border: none;
    cursor: pointer;
}

.btn {
    @extend %btn-placeholder;
    font-size: 1.6rem;

    &:link,&:visited {@extend %btn-placeholder;}

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black,0.2);
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black,0.2);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--animated{
        animation: moveInBottom 0.5s ease-out 0.5s;
        animation-fill-mode: backwards;
    }

    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--primary {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }
    &--secondary {
        background-color: $color-secondary;
        color: $color-white;
    }
    &--tertiary {
        background-color: $color-tertiary;
        color: $color-white;
    }
    
}

.btn-text {
    &:link,&:visited {
        font-size: $default-font-size;
        color : $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .5s;
        border-radius: 3px 3px 0 0 ;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black ,.15);
        transform: translateY(-2px);

    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black ,.15);
        transform: translateY(0);
    }
}

.btn-simple{
    
    text-transform: uppercase;
    text-decoration: none;
    padding: .4rem 2rem ;
    display: inline-block;
    border-radius: 1.5rem;
    transition: all 0.2s;
    position: relative;
    //change for the <button> element
    border: none;
    cursor: pointer;

   
        
    &:hover {

        transform: translateY(-.3rem);
        // box-shadow: 0 1rem 2rem rgba($color-black,0.2);
    }
    &:active{
        transform: translateY(0rem);
    }

    &-tablet{
    text-transform: uppercase;
    text-decoration: none;
    padding: .2rem .6rem ;
    display: inline-block;
    // border-radius: 1.5rem;
    //change for the <button> element
    border: none;
    cursor: pointer;

    // background-color: ;
    }
        
}
.btn-search {

}

.btn-nohover {
    @extend %btn-placeholder;
    text-transform: uppercase;
    text-decoration: none;
    
    

    &:link,&:visited {@extend %btn-placeholder;}
   
    &:hover {
        opacity: 0.8;
        
    }
}

.btn-withicon {

    text-transform: uppercase;
    text-decoration: none;
    // padding: auto  ;
    display: inline-block;
    border-radius: .8rem;
    transition: all 0.2s;
    position: relative;
    //change for the <button> element
    border: none;
    cursor: pointer;

   padding: .5rem 0.3rem .5rem 1rem;

    // align-content: center;
    
    // max-height: 4rem;
    // max-width:12rem;

    // border:1px solid $color-primary;
    min-width: 10rem ;
    // height: 5rem;
    text-align: center;
    vertical-align: middle;

    float: right;
    font-size: 1.6rem;
    a{
        
        vertical-align: middle;
        text-decoration: none;
        line-height: 3rem;
        color:$color-grey-light-1;
        

    }
    i{
        margin-left: .5rem;
        vertical-align: middle;

        // line-height: 1rem;
        font-size: 2.5rem;
        color:$color-grey-light-1;
    }
    &:hover{
        opacity: 0.9;
    }
    
}


.btn-block{
    display: block ;
}