.search{
  font-size: 2rem;
  text-align: right;
  padding: 5px;
}
.page{
  text-align: right;
  padding: 5px;
  font-size: 1rem;
}

.table{
  // width: 100%;
  font-size: 1.5rem;
  width: 95%;
  direction: ltr;
  // grid-column: 2/3;
}

.box22{
  // margin-left: 1rem;
  
  // width: 95%;
  justify-self: center;
  direction: ltr;
  
}



// .classall{
//   width: 100%;
//   align-self: center;
//   justify-self: start;
//   justify-items: center;
//   display: grid;

//   grid-template-columns:100%;
//   width: 100% !important;
//   // width: 200px;
//   // grid-column: 2/3
//   // max-width: 300px;
// }