.logo-bar{
grid-column: start/end;
    display:grid;
    grid-template-columns: minmax(max-content,1fr) 3fr  minmax(max-content,1fr);
    grid-template-rows: min-content;
    grid-column-gap: 2rem;
    justify-content: start;
    // align-content: center;
    height: 100%;

    &__img{
        max-height:4rem;
        // width: 100%;
        justify-self: start;
        align-self: center;

    }

    &__search{
        // background-color: $color-primary;
        width: 100%;
        display: grid;
        grid-template-columns: 10fr min-content ;
        justify-self: center;
        align-self: center;
        font-family: none;

       
        

        &-input{
            justify-self: center;
            width: 100%;
            border-radius:0 5px  5px 0;
            border: 1px solid $color-primary;
            border-left: none;
            margin-right: 0;
            padding: 0 10px;
            font-size: 1.8rem;
            font-family: 'yekan';

            &::placeholder{
                opacity:.9;
                color: $color-secondary;

            }

        }

        &-icon{
            color: $color-white;
            border: 1px solid $color-primary;
            background-color: $color-secondary;

            padding: 5px 10px;
            border-radius: 5px 0 0 5px ;
            transition: all 0.1s;

            &:hover {
                // background-color: rgba(#fff,.05);
                transform: translateX(3px);
                background-color: $color-tertiary;
            }
        }
        
    }

    &__login {
        // height: 80%;
        // width: 128px;
        // min-width:10rem;
        justify-self: end;
        align-self: center;
        font-family: yekan;
        font-size: 1.6rem;
        font-weight: 300;
        // border: .1px solid $color-secondary;
        // border: 5px solid $color-grey-light-3;

        color:$color-grey-light-3;
              

    }



}

.logo-bar-tablet {

    display: none;
    grid-column: 4/end;

    @media only screen and (max-width: $bp-tablet-default){
        display:grid;
        grid-template-columns: 4fr minmax(max-content,1fr) max-content ;
        grid-template-rows: min-content;
        grid-column-gap: 2rem;
        justify-content: start;
        // align-content: center;
        height: 100%; 
    }
    

    &__img{
        display: inline;
        max-height:4rem;
    
        justify-self: end;
        align-self: center;

        @media only screen and (max-width: 550px){
            display: none !important; 
        }

        

    }

    &__search{
        // background-color: $color-primary;
        width: 100%;
        display: grid;
        grid-template-columns: 10fr min-content ;
        justify-self: center;
        align-self: center;
        font-family: none;

        &-input{
            justify-self: center;
            width: 100%;
            border-radius:0 5px  5px 0;
            border: 1px solid $color-primary;
            border-left: none;
            margin-right: 0;
            padding: 0 10px;
            font-size: 1.8rem;
            font-family: 'yekan';
            // background-color:$color-grey-light-3;

            &::placeholder{
                opacity:.9;
                color: $color-secondary;

            }
           

        }

        &-icon{
            color: $color-primary;
            border: 1px solid $color-primary;
            background-color: white;
            padding: 5px 5px;
            border-radius: 5px 0 0 5px ;
        }
        
    }

    &__login {
        display:grid;
        grid-template-columns: min-content min-content;
        grid-column-gap: .5rem;
        justify-self: center;
        align-self: center;

        & a{
            font-size: 1.6rem;
            font-weight: 300;
            color:$color-grey-light-3;
            display: inline-block;
            padding: 0.5rem 1rem;

        }

        &-primary{
            
            background-color: $color-primary;
        }

        &-secondary{
            background-color: $color-tertiary;
        }

        &--border-right{
            border-radius: 0 1.5rem 1.5rem 0;
        }

        &--border-left{
            border-radius: 1.5rem  0 0  1.5rem;
        }
              

    }



}


.logo-bar-mobile {

    display: none;

    @media only screen and (max-width: $bp-mobile){
        display:grid;
        grid-template-columns: minmax(0,1fr)   max-content  ;
        grid-template-rows: min-content;
        grid-column-gap: 1rem;
        justify-content: start;
        height: 100%; 
        grid-row: 2/3;
        grid-column: start/end;
    }
    
    

    &__img{

        display: none;
        grid-row: 1/2;
        grid-column: 7/end;
        max-height:3rem;
        // width: 100%;

        height: 100%;
        justify-self: end;
        align-self: center;

        @media only screen and (max-width: $bp-mobile){
        
            display: inline-block;
        }
        

    }

    &__search{
        direction: ltr;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr max-content ;
        justify-self: center;
        align-self: center;
        font-family: none;
        &__line{
                float: left;
                height: 100%;
                border-bottom: 1px solid $color-primary;
                border-top: 1px solid $color-primary;
                text-decoration: none;
                background-color: white;
                color: $color-secondary;
        }
        

        &-input{

            min-width: 50px;
            justify-self: center;
            width: 100%;
            border-radius:5px 0  0 5px;
            border: 1px solid $color-primary;
            border-right: none;
            margin-right: 0;
            padding: 0 10px;
            font-size: 1.8rem;
            font-family: 'yekan';

            &::placeholder{
                opacity:.9;
                color: $color-secondary;
            }

        }
        &-icon{
            color: $color-primary;
            border: 1px solid $color-primary;
            background-color: white;
            padding: 5px 5px;
            border-radius: 0 5px  5px 0 ;

        }
        
        
    }

    &__login {
        margin-left: 1rem;
        display:grid;
        grid-template-columns: min-content min-content;
        grid-column-gap: .5rem;
        justify-self: center;
        align-self: center;
       
        & a{
            // font-family: yekan;
            font-size: 1.8rem;
            font-weight: 200;
            color:$color-grey-light-3;
            display: block;
            padding: 0.5rem 0.8rem;

        }

        &-primary{
            
            background-color: $color-primary;
        }

        &-secondary{
            background-color: $color-tertiary;
        }

        &--border-right{
            border-radius: 0 1.5rem 1.5rem 0;
        }

        &--border-left{
            border-radius: 1.5rem  0 0  1.5rem;
        }
              

    }



}