.logo-bar{

    display:grid;
    grid-template-columns: minmax(max-content,1fr) 3fr  minmax(max-content,1fr);
    grid-template-rows: min-content;
    grid-column-gap: 2rem;
    justify-content: start;
    // align-content: center;
    height: 100%;

    &__img{
        max-height:4rem;
        // width: 100%;
        justify-self: start;
        align-self: center;

    }

    &__search{
        // background-color: $color-primary;
        width: 100%;
        display: grid;
        grid-template-columns: 10fr min-content ;
        justify-self: center;
        align-self: center;
        font-family: none;

       
        

        &-input{
            justify-self: center;
            width: 100%;
            border-radius:0 5px  5px 0;
            border: 1px solid $color-primary;
            border-left: none;
            margin-right: 0;
            padding: 0 10px;
            font-size: 1.8rem;
            font-family: 'yekan';

            &::placeholder{
                opacity:.9;
                color: $color-secondary;

            }

        }

        &-icon{
            color: $color-white;
            border: 1px solid $color-primary;
            background-color: $color-secondary;

            padding: 5px 10px;
            border-radius: 5px 0 0 5px ;
            transition: all 0.1s;

            &:hover {
                // background-color: rgba(#fff,.05);
                transform: translateX(3px);
                background-color: $color-tertiary;

            }
        }
        
        
    }

    &__login {
        // height: 80%;
        // width: 128px;
        // min-width:10rem;
        justify-self: end;
        align-self: center;
        font-family: yekan;
        font-size: 1.6rem;
        font-weight: 300;
        // border: .1px solid $color-secondary;
        // border: 5px solid $color-grey-light-3;

        color:$color-grey-light-3;
              

    }




}