.navbar-base{
    // background-color: $color-grey-light-2;
    display:grid;
    grid-template-columns:4fr 1fr;
    justify-content: space-between;

    padding: 0 ;
    margin-top: 5px;
    grid-column: start/end;

}

.display-block{
    display: block !important;
}

.active-theme{
    background-color: $color-secondary !important;
    background-color: $color-tertiary !important;
    height: 110% !important;
    border-top: 2px solid $color-tertiary !important;
    border-bottom: 3px solid $color-grey-light-1 !important;

    >a{
        color:white !important;
    }
    
    
}

.navbar-1row-t1{
    // background-color: #fff;
    // border-bottom:  3px solid $color-primary;
    // border-collapse: separate;
    // border-spacing: 15px;

    // border-radius: 4px;
    align-self: end;
    display: grid;
    grid-template-columns: repeat(10, max-content);

    justify-self: center;
    list-style: none;
    width: 100%;
    height: 100%;
    grid-column-gap: .1rem;

    &__main{
    // border-bottom: 5px solid red;
    }
    &__sub{
    // border-bottom: 5px solid red;

    }

    &__item-main{

    border-top: 2px solid $color-grey-light-1;

    height: 100%;
    border-bottom: 3px solid $color-primary;
    border-radius: 3px 3px 0 0;
    overflow: hidden;


    // line-height: 4rem;
    justify-self: start;
    align-self: center;
    font-family: yekan;
    font-size: 1.6rem;   
    padding:  0px 10px;
    // margin-bottom: 5px;
    transition: height .1s;

    &-drop{
        display: none;
        position: absolute;
        transform: translate(1.4rem, 1.5rem);
        background-color: $color-grey-light-1;
        width:30rem;
        z-index: 1;
        border:  3px solid rgba(0, 0, 0, 0.2); 
        border-top: 0;
        box-shadow: 0 8px 8px  rgba(0,0,0,0.2);

        border-radius: 0 0 10px 10px;
        padding:0 0 1rem 0;


       

        &--grid {

            display: grid;
            width:100%;
            grid-template-columns: 1fr;
            list-style: none;
            margin: 0;
            
            // padding:0 1rem 1rem 2rem;

            padding: 0;


            & ul:not(:last-child){
                padding-bottom: 0rem;
                margin-bottom: .5rem;

                &::after{
                    
                    content: "";
                    text-align: center;
                    height: 2px;
                    width: 25rem;
                    background-color: rgba(0, 0, 0, 0.2);
                    margin-top: 1rem;
                    margin-right: 3rem;
                }
            }


            ul{
                
                list-style: none;
                display:grid;
                grid-template-columns:  1fr;
              
              
                li{

                    &:hover{
                        background-color: $color-primary;
                        color: $color-grey-light-1;
                        a{
                            color:$color-grey-light-1;
                        }
                    }

                    i {
                        font-size: 2rem;
                        padding: 0  0 0 1rem ;
                    }
    
                    padding-right: 0.5rem;
                    width: 100%;
                    font-family: yekan , roboto;
                    font-size: 2rem;
                    align-self: center;
                    justify-self: start;
                    text-decoration: none;

                    a{
                        text-decoration: none;
                        color: $color-secondary;
                    }
                }

                & li:not(:first-child){
                    padding-right:2rem ;
                    font-size: 1.5rem;
                }

               
            }


            
        }
    }


    > a{
        text-decoration: none;
        // color: $color-black;
        color:$color-secondary;
        // color: $color
    }

    // &:hover  &-drop {display: block;}


    &:hover
    {
        background-color: $color-secondary;
        // background-color: $color-tertiary;
        // background-color: $color-primary;


        > a{
        color:white;
        }

        // height: 110%;
        // border-top-color:$color-tertiary;
        border-bottom-color:$color-grey-light-1;
        border-bottom-color:$color-primary;

    }

    }

    &__item-sub{
        border-bottom: 3px solid $color-grey-light-3;


        margin-right: 5px;

        height: 100%;
        // border:1px solid $color-primary;
        border-radius: 3px;

        background-color: $color-grey-light-3;



        // line-height: 4rem;
        justify-self: center;
        align-self: center;
        font-family: yekan;
        font-size: 1.4rem;   
        padding:  0px 10px;
        // margin-bottom: 5px;
        transition: height .1s;


        a{
            text-decoration: none;
            color: $color-secondary;
            // color: white;
        }

        &:hover,
        &:active {
            border-radius: 3px 3px 0 0;
            height: 110%;
            border-top-color:$color-tertiary;

        }

    }

}

.fixed{
    // width: 95%;
    margin-right: 1rem;
    overflow: hidden;
    // position: fixed !important;
    white-space: nowrap;
}

.none{
    width: 0 !important;
    opacity:0 !important;
}

.tran-all {
    -webkit-transition: all .3s ease-in-out ;
	-moz-transition: all .3s ease-in-out ;
	-o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


.navbar-base-collapsed{

    color: $color-secondary;

    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4),
     0 10px 20px 0 rgba(0, 0, 0, 0.3);

    overflow-y: auto;
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    // margin: 1rem;
    margin: 0;
    padding: 0;

    z-index: 15;

    background-color: $color-grey-light-1;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows:  min-content 1fr min-content ;
  


    @media only screen and (max-width: $bp-tablet-default){
        width: 300px;

    }

    @media only screen and (max-width: $bp-mobile){
        width: 300px;

        max-width: 80vw;
    }

    scrollbar-color: $color-secondary #f5f5f5;
    scrollbar-width: thin;
        // width: 26vw !important;
        // margin: 0 .5rem !important;
      
      &::-webkit-scrollbar
        {
          width: 5px;
          background-color: #F5F5F5;
        }
      &::-webkit-scrollbar-thumb
        {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
          background-color: rgba($color-secondary , .9);
        }
    
    

    &__header{
        border-bottom: 1px solid $color-primary;
        margin-bottom: .5rem;
        align-self: center;
        justify-self: center;
        text-align:center;
        padding: 1rem 4rem;
        
        color: $color-secondary;

        & h6{
        }
    }
    &__top{
        // padding-right: 1rem;
        color: $color-secondary;
        margin-top: .5rem;
        margin-bottom: 5vh;

        font-weight: 300;
        
        & ul {
            font-size: 2.5rem;
            padding-right: 1rem;
            list-style: none;

            padding-bottom: 1rem;

            i{
                margin-left: .5rem;
            }
            
            
        }

        & li{
            font-size: 2rem;
            padding-right: .5rem;
            margin-right: 3rem;
            background-color: $color-grey-light-3;
            width: 80%;

           
        }


        &--item{
            &-minus{
                color:$color-tertiary;
            }
            &-plus {
                color:$color-primary;
            }
        }
        
    }


    &__bottom{

        color: $color-secondary;
        border-top: 1px solid $color-primary;

        font-weight: normal;
        padding: 1rem;
        font-size: 2rem;
        align-self: center;
        padding-right: 0;
        // justify-self: center;
        justify-content: center;
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 10vh;
        // margin-bottom: 10vh;

        // background-color: $color-tertiary;

        &--item {
            text-decoration: none;
            width: 80%;
            border: 2px solid $color-primary;
            border-radius: 2rem;
            // background-color: $color-tertiary;
            padding: 1rem;
            text-align: center;
            color: $color-primary;
            
        }
        
    }

    &__icon{
        // height: 25px;
        
        text-decoration: none;
        // text-decoration: none;
        display:none;
        // position: fixed;
        // left: 0;
        // font-size: 2rem;
        padding: 0;
        margin: 0 1rem;


        align-self: center;
        @media only screen and (max-width: $bp-tablet-default){
            display: inherit !important;
        }
        & i{
            font-size: 3rem;
        }

        &--container{
           display:none;
           grid-column: start/4;
           
            h6{
              
               align-self: start;
               justify-self: start;
               font-size: 2rem;
               font-family: yekan;
           }
           a{
               text-decoration: none;
               color:$color-secondary;
           }

           @media only screen and (max-width: $bp-tablet-default){
           
            display:grid;
            grid-template-columns: min-content max-content; 
            justify-self: start;
            justify-items: start;
            align-self: center;
            align-items: start;
            }
            @media only screen and (max-width: $bp-mobile){

                grid-row: 1/2;
                grid-column: start/7;
           

                }

        }
    }

    

}

#mute{

    -webkit-transition: opacity .5s ease-in-out ;
	-moz-transition: opacity .5s ease-in-out ;
	-o-transition: opacity .5s  ease-in-out;
    transition: opacity .5s ease-in-out;
    
    top:0;
    // margin-right: 10vw;
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    background-color: rgba($color-secondary,0.7);
    // background-color: rgba(white,0.7);
    transform: scale(1.5);

  
}
