.menu-select2{
    font-size: 3rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    

}

.inputing{
    font-size: 1rem;

}

.saeed {
    background-color: red;
}

.l2 {
    padding-left: 1em;
  }