//responsive break 

$bp-largest: 75em; // 1200px


$bp-large: 56.25em; //900px


$bp-medium:48em;// 768px



$bp-tablet-large:62.5em; // 1000 px stands for 990 * 1440
$bp-tablet-default: 50em; // 800 px stands for 768 * 1024

$bp-mobile:30em; // 480 px stands for 480 * 640



*,
*::before,
*::after {
   
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1 rem equals 10 px

    @media only screen and (max-width: $bp-largest){
        font-size: 58%;
    }
   
    @media only screen and (max-width: $bp-tablet-large){
        font-size: 52%;
    }

    @media only screen and (max-width: $bp-tablet-default){
        font-size: 48%;
    }
   

}

body{
    // overflow-x: auto;
    display: grid;
    grid-template-columns: minmax(6rem, 1fr) minmax(min-content,1440px) minmax(6rem, 1fr);
    margin-top: 5px;
    direction: rtl;
    font-family: $font-primary;
    font-family: yekan , Roboto;
    color: $color-grey-dark-2;
    font-weight: 300;
    background-color: $color-grey-light-3;


    @media only screen and (max-width: $bp-largest){
       
    }
   
    @media only screen and (max-width: $bp-tablet-large){
        grid-template-columns: 2rem 1fr 2rem;
    }

    @media only screen and (max-width: $bp-tablet-default){
    grid-template-columns: 1rem 1fr 1rem;
    }

    @media only screen and (max-width: $bp-mobile){
        grid-template-columns: .5rem 1fr .5srem;
    }

}

.bp-min-tablet-default{
    @media only screen and (max-width: $bp-tablet-default){
        display: none !important;
    }
}

.bp-min-mobile-default{
    @media only screen and (max-width: $bp-mobile){
        display: none !important;
    }
}


