//responsive break 


*,
*::before,
*::after {
   
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

html {
    background-color: $color-grey-light-3;
    box-sizing: border-box;
    font-size: 62.5%; //1 rem equals 10 px

    @media only screen and (max-width: $bp-largest){
        font-size: 58%;
    }
   
    @media only screen and (max-width: $bp-tablet-large){
        font-size: 54%;
    }

    @media only screen and (max-width: $bp-tablet-default){
        font-size: 51%;
    }

    @media only screen and (max-width: $bp-mobile){
        font-size: 48%;
    }
   

}

body{
    // overflow-x: auto;
    display: grid;
    grid-template-columns: minmax(6rem, 1fr) minmax(min-content,1440px) minmax(6rem, 1fr);
    margin-top: 5px;
    direction: rtl;
    font-family: $font-primary;
    font-family: yekan , Roboto;
    color: $color-secondary;
    font-weight: 300;
    background-color: $color-grey-light-3;

    transition: all 0.5s;


    @media only screen and (max-width: $bp-largest){
       
    }
   
    @media only screen and (max-width: $bp-tablet-large){
        grid-template-columns: 2rem 1fr 2rem;
    }

    @media only screen and (max-width: $bp-tablet-default){
        grid-template-columns: 1rem 1fr 1rem;
    }

    @media only screen and (max-width: $bp-mobile){
        grid-template-columns: .5rem 1fr .5srem;
    }

}

.bp-min-tablet-default{
    @media only screen and (max-width: $bp-tablet-default){
        display: none !important;
    }
}

.bp-min-mobile-default{
    @media only screen and (max-width: $bp-mobile){
        display: none !important;
    }
}

.container {
    grid-column: 2/3;
    display: grid;

    grid-template-columns: [center-start] repeat(12,[col-start] 1fr [col-end])[center-end];
    
    grid-row-gap: 1rem;
    justify-content: center;
    
    & > * {
        // margin:20px;
        padding: 1rem;
        font-size: 3rem;
    }


    @media only screen and (max-width: $bp-largest){
       
    }
   
    @media only screen and (max-width: $bp-tablet-large){
        
    }

    @media only screen and (max-width: $bp-tablet-default){
    }

    @media only screen and (max-width: $bp-mobile){

    }


    backface-visibility: hidden;
    
} 

.ilya-box-shadow {
    background-color: $color-grey-light-1;    
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 3px 10px 0 rgba(0, 0, 0, 0.19);
}


