html, body {
  margin: 0;
  padding: 0;
}

.slider {
  width: 70%;
  margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: #54585a;
  //font-family: "fas", "fa-arrow-left", monospace;
  font-size: 20px;
}


