body {
    padding: 5%;
    text-align: center; }

.slider {
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
    position: relative; }
.slider__img {
    width: 2912px;
    -webkit-animation: slide 10s infinite;
    position: absolute; }
.slider__img--slide {
    float: top;
    height: 510px;
    width: 728px; }
.slider__img--slide:nth-child(1) {
    background: #D93B65;
    z-index: 1; }
.slider__img--slide:nth-child(2) {
    background: #037E8C;
    z-index: 2; }
.slider__img--slide:nth-child(3) {
    background: #36BF66;
    z-index: 3; }
.slider__img--slide:nth-child(4) {
    background: #d93b65;
    z-index: 1; }
.slider__img--slide h1 {
    color: #000;
    text-align: center;
    font-size: 10em; }

@-webkit-keyframes slide {
    10% {
        margin-top: 0px;
        z-index: 1; }
    40% {
        margin-top: -510px;
        z-index: 2; }
    70% {
        margin-top: -1020px;
        z-index: 3; }
    100% {
        margin-top: -1530px;
        z-index: 1; } }