.ilya-rights{
    // position: fixed;
    bottom: 0;
    width: 100%;
    
}

html{
    background: #30E8BF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF8235, #30E8BF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF8235, #30E8BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body{
    background-color: transparent;
}

.ilya-rights{
    color:$color-grey-light-1;
    border-top-color:  transparent !important;
}

.form-sign {
    padding: 1.5rem;
    color:$color-secondary;
    font-size: 1.5rem;
    display: grid;

    grid-template-rows: auto;
    grid-row-gap: 1rem;
    justify-content: center;
    align-content: center;

    justify-items: center;

    position: absolute;
    top: 50%;
    left: 50%;

    // height: 50rem;
    width: 40rem;

    transform: translate(-50%,-50%);

    &--signup-button {
        & a:hover{
            color: $color-tertiary;
        }
    }
    a{
        text-decoration: none;
        color:$color-secondary;
    }

    &__header{
        text-align: center;
        margin:1rem 0 0.5rem 0;
        position: relative;
        color:$color-primary;
        i{
            font-size: 12rem;
        }
    }

    &__content {
        &--mobile-in{
            a{
                 font-size: 1.2rem;
        }
        }
           

        &--forget{
            float: left;
        }
        &--mobile-in {
            float: right;
        }


    }

    &__footer{
        width: 100%;
        // position: relative;
        margin-top: 1rem;
        margin-bottom: 3rem;
        font-family: yekan;
        


        margin-right: 1rem;

        &--btn{

            position: absolute !important;
            font-size: 2rem;
            bottom: 3rem;
            left: 50%;
            transform: translateX(-50%);
            width: 15rem;
            border-radius: 0.4rem !important;
            text-emphasis: none;
            text-align: center;
            text-transform: none;  
            padding-top:0rem !important ;          
        }
        &--cancel{
            text-decoration: none;
            position: absolute;
            bottom: .5rem;
            right: 1rem;
            font-family: yekan;
            font-size: 1.2rem;
            color:$color-tertiary !important;
            
        }
        label{

            position: absolute;
            bottom: .5rem;
            left: 1rem;
            cursor: pointer;
            font-size: 1rem;
        }
       
    }


    input[type=text], input[type=password] {
        font-family: yekan,roboto;
        font-size: 1.2rem;
        width: 100%;
        padding: 0.7rem 2rem;
        margin: 0.5rem 0;
        display: inline-block;
        border: 1px solid #ccc;
       
    }

}


.form-signup {

    padding: .5rem 1.5rem;
    color:$color-secondary;
    font-size: 1.5rem;
    display: grid;

    grid-template-rows: auto;
    grid-row-gap: 1rem;
    justify-content: center;
    align-content: center;

    justify-items: center;

    position: absolute;
    top: 50%;
    left: 50%;

    // height: 50rem;
    width: 40rem;

    transform: translate(-50%,-50%);
    

    a{
        text-decoration: none;
        color:$color-secondary;
    }

    &__header{
        text-align: center;
        margin:1rem 0 0.5rem 0;
        position: relative;
        color:$color-tertiary;
        i{
            font-size: 12rem;
            transform: translateX(15%)
        }
    }

    &__content {


    }

    &__footer{
    font-family: yekan;

    }


    input[type=text], input[type=password] {
        font-family: yekan,roboto;
        font-size: 1.2rem;
        width: 100%;
        padding: 0.7rem 2rem;
        margin: 0.5rem 0;
        display: inline-block;
        border: 1px solid #ccc;
       
    }


}

.d-none{
    display: none !important;
}
.d-block{
    display: block !important;
}
.d-grid {
    display:grid !important;
}