%page-sections-box-color-deafult {
    background-color: $color-grey-light-1;    
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 3px 10px 0 rgba(0, 0, 0, 0.19);
    
}


.section-moving-price{
    @extend %page-sections-box-color-deafult;
    grid-column: center-start / center-end;
    

}

.section-uinformation{
    @extend %page-sections-box-color-deafult;
    grid-column: center-start / 5;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 1rem;
    grid-template-rows: min-content 1fr;

    
}

.section-uworks {
    @extend %page-sections-box-color-deafult;
    grid-column: center-start / 5;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 1rem;
    grid-template-rows: min-content 1fr;
}



.section-add{
    font-size: 1.5rem;
    @extend %page-sections-box-color-deafult;
    grid-column: 5 / center-end;
    grid-row: 3/span 2;


    &__navbar{
        margin: 2rem 0;
        width: 90%;
        display:block;
        text-align: center;
        ul{

            
            display: block;
            list-style: none;
            li{
                display:inline-block ;
                width: 30%;
                text-align: center;
                border-bottom: 1px solid $color-secondary;
                cursor: pointer;
                position: relative;

                &:hover {
                    background-color: rgba($color-secondary,.8);
                    color:$color-grey-light-1;
                    border-bottom-color: $color-grey-light-1;
                }

                
                
           
            }
        }

    }

}


.section-news {
    @extend %page-sections-box-color-deafult;
    grid-column: center-start / center-end;
    
    display: grid;

    grid-template-rows: min-content 1fr;
    grid-template-columns: repeat(auto-fit , minmax(25rem,1fr));

    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
    backface-visibility: hidden;
}

.active{

    color:$color-grey-light-1;
    border-bottom-color: $color-primary !important;
    background-color: $color-primary  !important;

    &:after {
                   
        color:$color-primary;

        position: absolute;
        // top: 0;
        // line-height: 50px;
        bottom: -1.1rem;
        right: 2rem;
        font-family: 'icomoon';
        -webkit-font-smoothing: antialiased;
        content: "\e000";

        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);

        // transform: translateY(100%);


        

    }

}
.d-none{
    display: none !important;
}
.d-block{
    display: block !important;
}
.d-grid {
    display:grid !important;
}